// registration
.registration {
    padding: 120px 0;
    @include media-breakpoint-down(lg) {
        padding: 80px 0;
    }
    @include media-breakpoint-down(md) {
        padding: 60px 0;
    }
    .register-form {
        box-shadow: 0px 0px 30px 0px rgba(206, 206, 206, 0.35);
        @include media-breakpoint-down(md) {
            &.login {
                margin-bottom: 30px;
            }
        }
        h3.title {
            background: $gradient-1;
            color: $white;
            font-family: $heading-font;
            font-weight: 700;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 0;
            padding: 15px 0;
            @include media-breakpoint-down(lg) {
                font-size: 22px;
                line-height: 32px;
            }
            @include media-breakpoint-down(mobile) {
                font-size: 18px;
                line-height: 28px;
            }
        }
        form {
            padding: 70px;
            @include media-breakpoint-down(lg) {
                padding: 30px;
            }
            .single-input {
                margin-top: -7px;
                margin-bottom: 30px;
                label {
                    font-family: $heading-font;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 700;
                    color: #272727;
                    @include media-breakpoint-down(lg) {
                        font-size: 16px;
                        line-height: 26px;
                    }
                    a {
                        color: $base-color;
                    }
                }
                input[type=email], input[type=password], input[type=text] {
                    border-color: #ebebeb;
                    border-radius: 0;
                    height: 45px;
                    @include media-breakpoint-down(mobile) {
                        height: 35px;
                    }
                }
                .form-check-input[type=checkbox] {
                    border-radius: 0;
                    border-color: #5a7dff;
                    box-shadow: none;
                }
            }
            button {
                border-radius: 0;
            }
            .form-text {
                a {
                    font-family: $heading-font;
                    font-size: 16px;
                    line-height: 28px;
                    font-weight: 700;
                    color: $secondary-color;
                    margin-top: 25px;
                }
            }
        }
    }
}
  